nav {
  font-family: "Bungee", cursive;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
}
span.tweeter-app {
  margin: 10px;
}
span.nav-arrow {
  color: red;
  float: right;
  margin-right: 10%;
  padding-top: 10px;
}
span.nav-align {
  display: block;
}
