nav {
  font-family: "Bungee", cursive;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
span.tweeter-app {
  margin: 10px;
}
span.nav-arrow {
  color: red;
  padding-top: 10px;
}
.nav-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  float: right;
  border: none;
  background: none;
  color: white;
}
