section {
  flex-direction: column;
}

article hr {
  overflow: visible;
  color: black;

  border-bottom: 8px solid;
}
/* h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
article {
  border-style: solid;
  flex-wrap: wrap;
  word-wrap: break-word;
  padding: 15px;
}
article:hover {
  box-shadow: 15px 15px #888888;
}
.article .tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  background-image: none;
  height: 150px;
  padding: 25px;
}

.iconName {
  display: flex;
  flex-direction: row;
}
.iconName img {
  width: 100px;
  height: 100px;
}
.tweetid {
  opacity: 0.5;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-txt {
  font-weight: bold;
}
i:hover {
  color: rgba(255, 208, 0, 0.904);
}
